body{
    text-align: center;
    font-family: Monaco, serif;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
ul{
    text-align: left;
}
p{
    margin: 15px;
    text-align: justify;
}
a{
    text-decoration: none;
}

.main_block{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20vw 60vw 20vw;
    grid-template-rows: 8vh 82vh 10vh;

}

.block_1{
    background-color: darkseagreen;
    grid-column: 1;
    grid-row: 1 /span 2;
}
.block_1 img{
    object-fit: cover;
    width: 100%;
}

.block_2{
    background-size: cover;
    background-image: url('Картинки/Спектр.png');
    grid-column: 2/span 2;
    grid-row: 1;
    padding: 2vh;
    text-align: right;
}
.block_2 h1{
    font-family: "Brush Script MT", serif;
}

.block_4{
    background-color: lightgreen;
    grid-column: 3;
    grid-row: 2;
}

.block_3{
    background-color: seagreen;
}

.block_5{
    background-color: lightblue;
    overflow-y: auto;
    overflow-x: hidden;
    grid-column: 2;
    grid-row: 2;
}
.block_5 text{
    padding: 20px;
}

.block_6{
    padding: 1vh;
    background-size: cover;
    background-image: url('Картинки/Трава.png');
    grid-column: 1/span 3;
    grid-row: 3;
    display: grid;

    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}
.block_6 img{
    height: 8vh;
}
.block_6 h2{
    font-family: "Brush Script MT", serif;
}

