body{
    text-align: center;
    font-family: Monaco, serif;
    overflow-y: auto;
}

.main_block{
    display: grid;
    grid-template-columns: 2fr 5fr 1fr; /* 3 стовпці: перший і третій займають 1 частину, середній — 2 частини */
    grid-template-rows: 50px auto; /* 3 рядки, кожен з яких займає 1 частину простору */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 50px;
    width: 100%;
    height: 100%;
}

.block_1{
    background-color: darkcyan;
    grid-row: span 2;
}

.block_2{
    grid-column: span 2;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-image: url('Спектр.png');
}

.block_x{
    padding: 10px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    max-height: 70%;
    font-family: "Brush Script MT", serif;
}
.block_x h1{
    margin: 0;
}

.block_4{
    background-color: darkseagreen;

}

.block_3{
    background-color: forestgreen;
    height: 10%;
    font-size: x-large;
}

.block_5{
    background-color: palegreen;
    overflow-y: auto;
}
.block_5 text{
    margin: 10px;
}

.block_y{
    padding: 10px;
    margin-left: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-height: 70%;
    font-family: "Brush Script MT", serif;
}
.block_y h3{
    margin: 0;
}

.block_6{
    overflow: hidden;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-image: url('Трава.png');
}